<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This Is Home Page</h1>
    <p>loremhajhlkahl kah jSGDAJ  FJDHFJ  jjds hauifyhd ahdifuh ihiuy ihi ashdffi </p>
    <button>Click Me!</button>
</body>
</html>